body {
	background-color: #ffd57b;
}

img {
	max-width: 100%;
}

@media all and (display-mode: standalone) {
	#btninstall {
		display: none;
	}
}
#btninstall {
	display: none;
}

button {
	background-color: transparent;
	display: inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.2s;
}
button:hover{
	color:#000000;
	background-color:#FFFFFF;
}
input[type=color]
{
	background-color: transparent;
	border:0.1em solid #FFFFFF;
	border-radius:0.12em;

	height: 26px;
	vertical-align: middle;
}
input[type=text]
{
	display: inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	text-align:center;
	transition: all 0.2s;
}